html {
    background: black;
}
body{
    background: black;
    color:white;
}

.pics{
    border: 5px solid white;
}

img{
    width: 100%;
    height: 100%;
}

md-grid-tile{
    transition: all 300ms ease-out 50ms;
}

a{
    color:white;
    text-decoration: none;
}

a:hover {
    color: #FFFF00;
}

md-card{
    color: #3C3C3C;
}
md-dialog{
    color: #3C3C3C;
}

.mainPic {
    margin:0;
    padding:0;
}

.text-capitalize {
    text-transform: capitalize; 
}
.md-fab:hover, .md-fab.md-focused {
    background-color: #000 !important; 
}
p.note {
    font-size: 1.2rem;    
}
.lock-size-row {
    min-width: 200px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto; 
}
.lock-size-col {
    min-width: 200px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto; 
}

