<div layout="row" layout-align="center center">

    <md-card flex="75">
            <img ng-src="{{ originalSrc }}" class="md-card-image" alt="image caption">
        <md-card-content>
            <md-grid-list md-cols-sm="1" md-cols-md="3" md-cols-gt-md="4" md-row-height="16:9" md-gutter="8px" md-gutter-gt-sm="15px">
                    <md-grid-tile md-colspan="1" md-rowspan="1">
                        <img ng-src="{{ originalSrc }}" /> 
                    </md-grid-tile>
                    <md-grid-tile ng-repeat="filterSrc in filterGallery" md-colspan="1" md-rowspan="1">
                            <img ng-src="{{ filterSrc }}" />
                    </md-grid-tile>
            </md-grid-list>
        </md-card-content>
        <md-divider></md-divider>        
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="printIt($event)" >Print it !</md-button>
            <md-button ng-click="mailIt($event)">Mail it !</md-button>
        </div>
    </md-card>


</div>
